import os

os.environ.setdefault('DJANGO_SETTINGS_MODULE', 'config')

from sentry.models import User, Team, Project

{% if sentry_admin_username %}
admin, created = User.objects.get_or_create(
    username="{{sentry_admin_username}}",
    defaults={"is_superuser": True, "is_staff": True, "email": "{{sentry_admin_email}}"})

if created:
    admin.set_password("{{sentry_admin_password}}")
    admin.save()

{% for team in sentry_teams %}
team, created = Team.objects.get_or_create(name="{{team}}", defaults={"owner": admin})
{% for project in sentry_projects %}
{% if project.team|default('sentry') == team %}
project, created = Project.objects.get_or_create(
    name="{{project.name}}", defaults={"team": team, "owner": admin, "platform": "{{project.platform|default('python')}}"})
{% endif %}
{% endfor %}
{% endfor %}


{% endif %}
